[submodule "external/tetgen"]
    path = external/tetgen
    url = https://github.com/libigl/tetgen
[submodule "external/tet2inp"]
    path = external/tet2inp
    url = https://gitlab.inobitec.com/trainee/tet2inp
