[submodule "external/tetgen"]
    path = external/tetgen
    url = https://github.com/libigl/tetgen
[submodule "external/tet2inp"]
    path = external/tet2inp
    url = https://gitlab.inobitec.com/trainee/tet2inp
[submodule "external/cpython"]
    path = external/cpython
    url = https://github.com/python/cpython
[submodule "external/CalculiX-PW-Cygwin"]
    path = external/CalculiX-PW-Cygwin
    url = https://github.com/JoelWillLiveForever/CalculiX-PW-Cygwin
